.character {
    display: flex;
    align-items: center;
    gap: 5px;


    cursor: pointer;
    height: 100px;
    width: 95%;

    margin: auto;
    margin-bottom: 5px;
    margin-top: 10px;

    /* background-color: #00547F; */
    background-image: url(../../assets/bg.jpg);
    background-size: cover;
    border: 5px solid burlywood;
    border-radius: 5px;
    color: white;

    -webkit-box-shadow: -18px 11px 14px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -18px 11px 14px -7px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 11px 14px -7px rgba(0, 0, 0, 0.75);

    transition: all 0.2s;
}

.character:hover {
    filter: brightness(1.2);
  }

.character img {
    width: 120px;
    height: 96%;
    object-fit: cover;
}

.character-locked{
    filter: brightness(0.7);
    box-shadow: none;
}

.character-locked:hover{
    filter: brightness(0.8);
}

.monkeyImg{
    box-shadow: -1px 1px 1px -7px rgba(0, 0, 0, 0.75);
    padding: 0 10px;
}

.cost {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: bold;
    font-size: 1.25rem;
    font-weight: 700;
}

.cost img {
    width: 25px;
    height: 25px;
}

.character-details{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.character-details h3{
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}

.quantidade{
    display: flex;
    align-items: center;
    font-size: 3rem;
    color: rgba(255, 255, 255, 0.863);
    padding-right: 25px;
}

p{
    margin: 0;
    padding: 0;
}